body {
    background-color: #EBE4D1;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: #B2533E;
}
.title{
    text-align: center;
    margin: 0px 10px 10px 10px;
}
.details{
    padding: 0px 0px 0px 5px;
    margin: 10px 20px;
}
ul{
    padding: 0px; 
    margin: 10px 0px;  
}
div{
    background-color: #B2533E;
}

img{
    border: 3px solid #004225;
    height: 540px;
    width: 550px;
    margin-left: 650px;
}
a{
    color: #004225;
    margin: 0px 0px 10px 10px;
    padding: 10px;
}
.items{
    color: #004225;
    padding: 3px 0px;
    margin: 0px 20px;
    font-size: 14pt;
}